section#about-me {
    background: #fff;
    padding: 20px;
    color: #646362;
    h3.section-title {
        font-family: 'Bitter', serif;
        font-size: 7vw;
        margin-bottom: 20px;
    }
    p.about-me-txt {
        font-family: 'Open Sans', sans-serif;
        font-size: 5vw;
        line-height: 1.5;
    }
}