section#about-me {
    padding: 66.667% 5.333%;
    color: #fff;
    background: url('../images/forest.png');
    background-position: center center;
    background-size: cover;
    .desktop-nav {
        display: none;
    }
    #about-me-h3 {
        font-family: 'Bitter', serif;
        font-size: 10vw;
        margin-bottom: 6%;
        opacity: 0;
        transform: translate3d(33%,0,0);
        -webkit-transition: opacity 1s, transform 1s ease-in;
        -moz-transition: opacity 1s, transform 1s ease-in;
        -ms-transition: opacity 1s, transform 1s ease-in;
        -o-transition: opacity 1s, transform 1s ease-in;
        transition: opacity 1s, transform 1s ease-in;
        &.load {
            opacity: 1;
            transform: translate3d(0,0,0);
        }
    }
    #about-me-p {
        font-family: 'Open Sans', sans-serif;
        font-size: 5vw;
        line-height: 2;
    }
}

@media only screen and (min-width: 720px) {
    section#about-me {
        padding: 40% 3%;
        #about-me-h3 {
            font-size: 8vw;
            margin-bottom: 4.5%;
        }
        #about-me-p {
            font-size: 3.5vw;
        }
    }
}

@media only screen and (min-width: 1025px) {
    section#about-me {
        padding: 0;
        .container {
            max-width: 1440px;
            width: 81.25%;
            margin: 0 auto;
            .desktop-nav {
                padding: 100px 0 160px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    font-weight: 600;
                    text-decoration: none;
                    color: #fff;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3.5vw;
                }
                .links {
                    display: flex;
                    justify-content: flex-end;
                    a {
                        font-size: 1vw;
                        margin: 0 30px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .second-container {
            width: 81.25%;
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 0 300px;
            display: flex;
            align-items: flex-start;
            h3#about-me-h3 {
                display: inline-block;
                font-size: 3vw;
                line-height: 1.2;
                padding-bottom: 50px;
                margin-bottom: 0;
                border-bottom: 5px solid #fff;
                margin-right: 180px;
                white-space: nowrap;
            }
            p#about-me-p {
                display: inline-block;
                font-size: 0.972vw;
                width: 70%;
                line-height: 1.875;
            }
        }
    }
}