section#portfolio {
    background: #55514c;
    color: #fff;
    padding: 8% 5.333%;
    h3.section-title {
        font-family: 'Bitter', serif;
        font-size: 8vw;
        margin-bottom: 4.478%;
    }
    .filter-row {
        margin: 10px 0;
        margin-bottom: 5.97%;
        display: flex;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        .filter {
            padding: 2.985%;
            line-height: 1.5;
            margin: 0 2.985%;
            border-radius: 10px;
            font-size: 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: nowrap;
            white-space: nowrap;
            &.active {
                background: #00bd9b;
                color: #fff;
            }
        }
    }
    #portfolio-grid {
        .portfolio-box {
            margin-bottom: 2.985%;
            height: 300px;
            overflow: hidden;
            .image-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center center;
                &:hover {
                    .hover-wrapper {
                        cursor: pointer;
                        opacity: 1;
                    }
                }
                .hover-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    font-family: 'Open Sans', sans-serif;
                    display: flex;
                    opacity: 0;
                    transition: opacity .3s ease-in-out;
                    .space {
                        width: 100%;
                        background: rgba(255,255,255,.5);
                        height: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        h4 {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 6vw;
                            color: #000;
                            font-weight: 600;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                    .buttons {
                        width: 100%;
                        height: 20%;
                        display: flex;
                        align-items: center;
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50%;
                            text-decoration: none;
                            color: #fff;
                            font-size: 5vw;
                            height: 100%;
                            &.live-btn {
                                background: blue;
                            }
                            &.code-btn {
                                background: green;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 720px) {
    section#portfolio {
        padding: 10% 5.333%;
        h3.section-title {
            margin-bottom: 8%;
        }
        .filter-row {
            margin-bottom: 7%;
            .filter {
                padding: 5%;
                margin: 0 2%;
                font-size: 3.5vw;
            }
        }
        #portfolio-grid {
            .portfolio-box {
                margin-bottom: 5%;
                height: 500px;
                .image-wrapper {
                    .hover-wrapper {
                        .space {
                            h4 {
                                font-size: 5vw;
                            }
                        }
                        .buttons {
                            a {
                                font-size: 3.5vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    section#portfolio {
        padding: 0;
        .container {
            max-width: 1440px;
            width: 81.25%;
            padding: 12.63% 0;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            h3.section-title {
                font-size: 3vw;
                width: 18%;
                margin-bottom: 6.91%;
                padding-bottom: 4.32%;
                border-bottom: 5px solid #fff;
            }
            .filter-row {
                margin: 0;
                .filter {
                    padding: 10px;
                    font-size: 1.1vw;
                    margin: 0 10px;
                    transition: background .3s ease-in-out;
                    &:hover {
                        background: #00bd9b;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
            .wrapper {
                width: 100%;
                display: flex;
                #portfolio-grid {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 22.7% 22.7% 22.7% 22.7%;
                    grid-template-rows: 225px 225px;
                    grid-column-gap: 30px;
                    grid-row-gap: 30px;
                    .portfolio-box {
                        margin-bottom: 0;
                        height: auto;
                        .image-wrapper {
                            .hover-wrapper {
                                .space {
                                    h4 {
                                        font-size: 1.1vw;
                                    }
                                }
                                .buttons {
                                    a {
                                        font-size: 1.1vw;
                                        &.live-btn {
                                            background: #ed767a;
                                        }
                                        &.code-btn {
                                            background: #00bd9b;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}